.wrapper {
    position: absolute;
    display: inline-block;
    min-width: 150px;
    min-height: 50px;
    width: auto;
    padding:10px;
    background:transparent;
    outline: none;
    width: max-content;
    overflow: visible;
}
.point{
    opacity: 0;
    position: absolute;
    top:0;
    bottom: 0px;
    left:0px;
    right:0px;
    margin: auto;
    height: 38px;
}
.contents {
    width:0;
    padding-right:0px;
    overflow:hidden;
    max-width: fit-content;
    max-width: max-content;
    box-shadow: 0px 3px 6px #00000029;
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #00ACB6;
    border-radius: 4px;
    font-size: 12px;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    position: absolute;
    top:0;
    bottom: 0px;
    left:0px;
    right:0px;
    margin: auto;
    height: 32px;
    z-index: 9;
    >img{
        margin-left: 10px;
        height: 18px;
        width: 18px;
    }
}
.wrapper:hover .point{
    display: none;
}
.wrapper:hover .contents {
    width:100vh;
    padding: 10px;
    white-space: nowrap;
    background-color: #00ACB6;
}
// .wrapper.active .contents {
//     width:100vh;
//     padding: 10px;
//     white-space: nowrap;
//     background-color: #00ACB6;
// }
.wrapper:not(:hover) .point{
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
    opacity: 1;
}
.wrapper:hover .animation-outline{
    display: initial;
}

div#wrapper-11 {
    top: 455px !important;
}

.marker-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    .circle {
        border-radius: 50%;
        position: absolute;
        opacity: 0;
    }
    .item {
        z-index: 1;
        padding: 10px
    }
    .item img {
        height: 25px;
        width: 25px;
    }
    .circle {
        border-radius: 50%;
        position: absolute;
        opacity: 0;
    }
    .circle {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
        animation: scaleIn 1.5s infinite cubic-bezier(.36, .11, .89, .32);
    }
    @keyframes scaleIn {
        from {
          transform: scale(0, 0);
          opacity: 1;
        }
        to {
          transform: scale(1, 1);
          opacity: 0;
        }
    }
}

 

  