.layout1{
    height: 100vh;
    font-family: Gotham-Light;
    .card {
        margin: 0px;
        border:none;
        transition: 0.3s;
        padding: 0px 1em;
        padding-top: 0px;
        color: #0c0c0c;
        height: 100vh;
        min-height:fit-content;
        width: fit-content;
        .header{
            .row {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: minmax(max-content, 340px);
                .col {
                    flex: 1;
                    display: flex;
                    font-size: 14px;
                    padding: 10px;
                    font-weight: 400;
                    font-style: normal;
                    padding: 1em;  
                    justify-content: center; 
                    white-space: nowrap;
                    align-items: center;
                    text-transform: uppercase;
                    cursor: pointer;       
                    >img {
                        height: 27px;
                        margin-right: 10px;
                    }
                    >label{
                        margin:0px;
                    }
                    min-height: 75px;
                }
                .col:not(:last-of-type):after{
                    content: "";
                    width: 1px;
                    height: 1.8em;
                    border-right: 1.5px solid #a5a1a194;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    margin: auto;
                }
                .active {
                    color: #fff;
                    border-bottom: 5px solid transparent;
                    width: 100%;
                    border-radius: 2px;
                    font-family: Gotham-bold;
                }      
            }
        }
        
        .body{
            font-size: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            font-size: 20px;
            grid-gap: 2em;
            height: 100%;
            width: 100%;
            margin-top: 3em;
            .leftNav {
                text-align: center;
                position: relative;
                flex-direction: column;
                display: flex;
                .base-img{
                    position: relative;
                    .fade{
                        opacity: 0.4;
                    }
                    >div {
                        width: 80%;
                        position: relative;
                        max-height: 650px;
                        margin:auto;
                        >img{
                            width:100%;
                        }
                        .base-animation{
                            position: absolute;
                            left: 0px;
                            top: 0px;
                        }
                    }
                }
                .galary {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: auto;
                    margin-bottom: 4em;
                    width: 50%;
                    >img {
                        width: 80px;
                        height: 80px;
                        border: 4px solid transparent;
                        cursor: pointer;
                    }
                    .active {
                        border-color: #000;
                    }
                }
            }
            .rightNav{
                position: relative;
                display: grid;
                flex-flow: column;
                height: 100%;
                font-size: 16px;
                >span{
                    position: absolute;
                    cursor: pointer;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    >strong{
                        text-decoration: underline;
                    }
                }
                .row{
                    height: fit-content;
                    margin-left:0px;
                    margin-right: 0px;
                    .discription{
                        margin:1em 0px;
                    }
                }
                .row:first-of-type{
                    margin-top: 2em;
                }
                .title {
                    text-transform: uppercase;
                    font-size: 33px;
                    padding-bottom: 15px;
                    font-family: Gotham-bold;
                }
                .component {
                    color: #fff;
                    border-top: 5px solid transparent;
                    padding: 1.5em 2.5em;
                    border-radius: 2px;
                    align-content: baseline;
                    display: flex;
                    flex-flow: column;
                    .item {
                        flex-grow: 1;
                        text-transform: uppercase;
                        font-family: BebasNeue-Bold;
                        font-size: 24px;
                        >span{
                            font-weight: 900;
                        }
                    }
                    .discription{
                        margin-top: 1em;
                        flex-grow: 10;
                        font-size: 15px;
                    }
                    p {
                        opacity: 0.9;
                    }
                    margin-left: 70%;
                    width: 100%;
                    -webkit-animation: slide 1.5s forwards;
                    animation: slide 1.5s forwards;
                }
                @-webkit-keyframes slide {
                    100%{ margin-left:0%;}
                }
                @keyframes slide {
                    100%{ margin-left:0%;}
                }
            }
        }    
    }

    @media only screen and (max-width: 600px) {
        .card {
            .body{
                margin-top: 10px;
                grid-template-columns: 1fr;
            }
            .leftNav{
                height: 50vh;
            }
            .galary{
                bottom: 0!important;
                width: 100%!important;
            }
        }
    }
}