@font-face {
    font-family: "Gotham-Light";
    src: url("../../assets/fonts/GOTHAM-LIGHT.TTF");
}
@font-face {
    font-family: "Gotham-bold";
    src: url("../../assets/fonts/GOTHAM-BOLD.TTF");
}
@font-face {
    font-family: "BebasNeue-Bold";
    src: url("../../assets/fonts/BebasNeue\ Book.otf");
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../../assets/fonts/BebasNeue-Regular.ttf");
}
.hidden{
    display: none!important;
}